body {
    width:100%;
    max-width:40em;
    margin:1em auto;
}

body, p {
    font-family: Ubuntu, "Droid Sans", "Liberation Sans", "DejaVu Sans", Calibri, Tahoma, Verdana, Arial, sans-serif;
}

h1,   h2,   h3,   h4,   h5,   h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-family: "Liberation Serif", "DejaVu Serif", Cambria, Georgia, "Times New Roman", serif;
    color: black;
    text-decoration: none;
}
